#main-menu {
  float: left;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 5px;
}
#main-menu > ul > li {
  float: left;
}
#main-menu > ul > li > a {
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-right: solid 1px var(--primary-color-dark);
}
#main-menu > ul > li > a:hover {
}
