@font-face {
  font-family: "Roboto-Bold.ttf";
  scr: url ("../fonts/Roboto-Bold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
}
#container {
  max-width: 1200px;
  margin: 0 auto;
}
