@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto-Bold";
}
#container {
  max-width: 1200px;
  margin: 0 auto;
}
